#main_body {
    width:99%;
    overflow-y: hidden;
    overflow-x: hidden;
}

p, h1, h2 {
    font-family: Verdana, sans-serif;
}

#current_weather {
    float:left;
    width:30%;
}

#weather_table {
    float:right;
    width: 70%;
}

.grid-container {
    display: grid;
}

div.grid-item {
    width: 120px;
    height: 230px;
    justify-content: center;
    align-items: center;
}

#current_weather {
    display: flex;
    justify-content: center;
}

.big-display {
    flex-direction: column;
}

.big-display-header {
    margin: 0px;
    font-size: 56px;
    display: flex;
    justify-content: center;
}

.big-display-image {
    width: 180px;
    height: auto;
}

.big-display-text {
    margin-top: 0px;
    margin-right: 2px;
    margin-bottom: 0px;
    margin-left: 2px;
    font-size: 36px;
}

.grid-item-header {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.grid-item-text {
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.grid-item-image {
    width: 100%;
}

#grid-item0 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}   

#grid-item1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#grid-item2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#grid-item3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}